@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,700;0,800;0,900;1,600&display=swap');

body{
	width:100%;
	height:100%;
	margin:0;
	background: #d7dcea;
	text-align:center;
	font-family: 'Inter', sans-serif; 	
}

nav{
	display:flex;
	justify-content:space-around;
	align-items: baseline;
	padding:2rem
}

.title{
	display:flex;
	align-items:baseline;
}


nav h2{
	margin-top:0;
	font-size:2em;
}

h2{
	font-family: 'Fraunces', serif;
}

img{
	object-fit:contain;
	width: 25%;
}


ul{
	display:flex;
	list-style-type:none
}

li{
	margin-right: 55px;
}

main{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	height:100%;
}

header{
	display:flex;
	align-items:center;

}


h2{
	font-size:4em;
	margin-left:15px
}

.para{
	font-size:1.2em;
}

.form-containtor{
	width:65%;
	display:flex;
	justify-content:center;
	align-items:center;
	height:25%;
	flex-direction: column;
}

.input-contantor{
	width:60%;
	display:flex;
	justify-content: space-between;
	height:25%;
	border-radius:6px;
	background:#edf2ff;
}

input{
	border:none;
	width:75%;
	background:transparent;
	padding:1.5rem;
}

input:focus-visible{
	outline:none;
}

input:focus{
	border:none;
}

button{
	width:25%;
	border:none;	
	background:#fb56e6;
	border-radius:4px;
	font-weight:700;
	font-family: 'Fraunces', serif;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

button:hover{
	background:#A43f99;
	padding: 1.1rem;
	
}

.url-containor{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fb56e6;
    padding: 0.4rem;
    width: 25%;
    border-radius: 5px;
	font-family: 'Fraunces', serif;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.links{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: solid 2px;

}

#copy-icon {
	width: 5%;
}

.links:hover{
	background:#A43f99;
}

#error{
    margin-top: 14px;
    color: transparent;
    margin-left: 15px;
    font-size: 0.9em;
}

#error-icon{
    margin-top: 12px;
}


@media only screen and (min-width: 768px)  and (max-width : 900px) {

	nav{
		justify-content:space-between;
	}

	.form-containtor, .input-contantor{
		width:80%;
	}

	.url-containor{
		width: 45%;
		padding: 0.6rem;
	}
	
  }