
#main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


header{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.para{
	text-align: center;
	line-height: 2;
}
article{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#new_link{
	margin-right: 10px;
}

hgroup{
	max-width: 55%;
}

.input-cont{

}