<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<title>iika || shorten your urls</title>
		<link rel="stylesheet"  href="{{ url_for('static' , filename='main.css') }}" />
	</head>
	<body>
        <nav>
			<div class="title">
				<img src="{{ url_for('static' , filename='assets/link.png') }}"alt="link icon" />
				<h2>iika</h2>
			</div>
			<ul>
				<li>about</li>
				<li>Github</li>
			</ul>
		</nav>
        <h1>Sorry page was not found</h1>
        <p>Please check if link entered was valid </p>
        <a><h3>Go home</h3></a>
    </body>