<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<title>iika || shorten your urls</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="color-scheme" content="light dark">
		<link rel="stylesheet" href="/static/main.css">
	</head>
	<body>
		<nav class="container">
			<ul>
				<li>
					<strong>iika</strong>
				</li>
			</ul>
			<ul>
				<li><a class="contrast">about</a></li>
				<li><a class="contrast">Github</a></li>
			</ul>
		</nav>
		<main id="main">
			<hgroup>
				<header>
					<div>
						<h2>iika</h2>
					<div>
				</header>
				<section class="para">
					<p>Experience the future of link shortening.
						<br>
					 Simplify your links, boost your click-through rates, and protect your privacy. Try it now and see the difference</p>
				</section>
			</hgroup>
			<div class="input-cont">
			{% if error %}
				<form class="input-contantor" id="error" action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data" >
					<input type="text" name="links" aria-invalid="true" aria-describedby="invalid-helper" placeholder="paste your link here...">
						<small id="invalid-helper">
  								{{error}}
						</small>
					<button type="submit">Shorten</button>
				</form>
			{% else %}
					<form class="input-contantor"  action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data" >
						<input type="text" placeholder="paste your link here..." name="links"/>
						<button type="submit">Shorten</button>
					</form>
			{% endif %}
			{% if form_data %}
				<article>
					<p id="new_link">{{form_data}}</p>
					<button id="copy">Copy</button>
				</article>
				<script>
					let button = document.querySelector("#copy");

					button.addEventListener("click", (_) =>{
						let paragraph = document.querySelector("#new_link");
           				let text = paragraph.innerHTML
            			navigator.clipboard.writeText(text)
					})

				</script>
			{% endif %}
			</div>
		</main>
	</body>
</html>
